*{
    font-family: 'Quicksand', sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;

}
.menu{
    display: flex;
    align-items: center;

}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, 
nav a:hover{
    background-color: #39aae1;
    color: white;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand';
}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options{
  display: flex;
  min-height: 210px; /* pode até tirar também */
  height: auto;
  align-items: stretch;
}

.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.banner_hrs1, .banner_hrs2, .banner_hrs3{
    flex-direction: row;
    font-size: 12px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #4468b2;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
#geral .widget_body{
    margin: 15px;
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}
#geral .widget_body .widget{
    margin: 10px 0 10px 0;
    width: 130px;
    height: 130px;
    background-color: #39aae1;
}
.dados-contato {
    border-bottom: 1px solid #7d7d7d;
}
.dados-contato a {
    text-decoration: none;
}
.dados-contato b {
    color: #000;
}
.dados-contato a:hover,
.dados-contato b:hover {
    color: #555;
}
.corlink {
    color: #3156a3;
}
.dados-contato img {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 280px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
    color: #000;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}
article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background: #1e1e1e;
    color: #fff;
    padding: 0 0 40px 0;
}

.footer-top {
  display: flex;
  justify-content: center;
}

.footer-top-box {
  flex: 1;
  padding: 30px;
  color: #fff;
}

.box1 {
  background: #39aae1;
}

.box2 {
  background: #0079c7;
}

.box3 {
  background: #2b4c99;
}

.footer-top-box h3 {
  margin: 0 0 10px 0;
}

.footer-top-box p {
  font-size: 14px;
}

.footer-container{
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-column h3 {
    border-bottom: 2px solid #39aae1;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-column p {
  font-size: 14px;
  color: #ccc;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer-top-inner {
  width: 990px;   /* garante alinhado com o site */
  display: flex;
}

.footer-top {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-top-inner {
    flex-direction: column;
  }
}
